# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
#
.build/
.swiftpm/

# CocoaPods
#
Pods/